html,body {
	margin: 20px;
}

.gitLink {
	text-decoration: none;
	& a {
	color: grey;
	}
	
	& a:hover {
		color:black;
		text-decoration: none;
		background-color: rgb(237, 237, 237); 
	}
}

.small-print {
	font-size: small;
	.message {
		color: grey;
	}
	
}