<div class="page-header">
  <h1>Brunch with Ember Sideloaded <small>Ember, Ember Data, LESS, Bootstrap, and much more</small></h1>
</div>
<img src="img/EmberJS.png">

<h2>Happy trails ...</h2>
<span class="glyphicon glyphicon-link"></span>
<span class="gitLink">
	<a href="https://github.com/ksnyde/brunch-with-ember-sideloaded">github.com/ksnyde/brunch-with-ember-sideloaded</a>
</span>
{{outlet}}